.landing-page {
  text-align: center;
  background-image: linear-gradient(#fbe0e5, #fff7f7 50%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 !important;
}

.about {
  background-color: var(--pink-med);
  display: flex;
  flex-direction: column;
}

.about-header {
  text-align: left;
}

.about-content {
  text-align: justify;
  text-align-last: right;
}

.name {
  font-size: 8vw;
  letter-spacing: 1em;
  margin: 0 0 0 1em;
  padding: 0;
}

.projects {
  min-height: 100vh;
}

.error-page-wrapper {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.resume-header {
  display:flex;
  justify-content:space-between;
}

.resume-company {
  margin:0;
}

.resume-section-header {
  display:flex;
  justify-content:center;
  align-items:center;
  gap: 2em;

  span {
    height:3px;
    background-color:black;
    flex-grow:2;
    border-radius:2em;
  }
}

