.blobs {
  -webkit-filter: url("#goo");
  filter: url("#goo");
}

.blob {
  fill: white;
}

#loader {
  display: inline-block;
  position: relative;
  width: 800px;
  height: 800px;
  top: 50%;
  left: 50%;
}

.home-page-menu--wrapper {
  position: fixed;
  bottom: 3vh;
  text-align: center;
  width: 100%;

  .home-page-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 5em;
  }

  .home-page-menu--item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
  }

  .home-page-menu--icon {
    width: 5em;
    height: 5em;
  }

  .home-page-menu--title {
    font-size: var(--text-lg);
  }

  @media (max-width: 1200px) {
    .home-page-menu--title {
      font-size: var(--text-med);
    }

    .home-page-menu {
        padding: 0 2em;
    }
  }

}

  .home-page--notice {
    position:fixed;
    width:100%;
    text-align:center;
    top: 1vh;
  }
