.project-cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.project-card {
  background-image: var(--gradient-pink-secondary);
  padding: 2em 10em;
  border-radius: 2em;
  width: calc(200% / 3);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: var(--transition-hover);
  display:flex;
  flex-direction:column;
  gap: 2em;
  align-items:center;

  & .content {
    display: none;
  }

  &:hover {
    width: 100%;
    transition: var(--transition-hover);

    & .content {
      display: inherit;
    }
  }

  & .project-preview {
    max-width: min(35em, 100%);
  }
}

@media screen and (max-width: 900px) {
  .project-card {
    width: 100%;
    padding-left: 5em;
    padding-right: 5em;
  }
}


.content-wrapper {
  max-width:35em;
}