.project-card {
  background-image: var(--gradient-pink-secondary);
  padding: 1em 2em;
  border-radius: 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;

  & .project-preview {
    max-width: min(24em, 90%);
    padding: 1em 0;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba(213, 80, 80, 0.2);
    background-blend-mode: screen;
    transition: var(--transition-hover);
  }
}

.all-projects-link {
  width: 100%;
  border-radius: 2em;
  background: var(--pink-lighter);
  padding: 1em;
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

  .project-header {
    font-weight: 600;
    font-size: var(--text-med);
    padding-top: 0;
  }
