.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  text-align: center;
  flex-grow: 1;
}

section {
  padding: 5em 20vw 0;

  &:first-of-type {
    padding-top: 10em;
  }
}

article {
  padding: 2em 20vw 2em;

  div {
    padding: 1em 0 0;
  }

  &:last-of-type {
    padding-bottom: 5em;
  }
}

p {
  line-height: 150%;
  text-align: left;
}

button {
  border: none;
  font: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

.rubik-mono-one-regular {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

.instrument-sans-landing {
  font-weight: 500;
  letter-spacing: 0.2em;
}

.nunito-500 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: var(--text-lg);
}

.header-md {
  font-weight: 500;
  letter-spacing: 1em;
  font-size: var(--text-med);
}

.header-lg {
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: var(--text-xlg);
  margin-bottom: var(--spacer-quarter);
}

.text-lg {
  font-size: var(--text-lg);
}

.subtitle {
  font-weight: 500;
  font-size: var(--text-sm);
}

.instrument-sans-400 {
  font-weight: 400;
}

.instrument-sans-500-spaced {
  font-weight: 500;
  letter-spacing: 2px;
}

.instrument-sans-500-normal {
  font-weight: 500;
}

.instrument-sans-600 {
  font-weight: 600;
  letter-spacing: 2px;
}

.instrument-sans-700 {
  font-weight: 700;
}

.text-white {
  color: var(--primary-white);
}

.text-pink-med {
  color: var(--pink-med);
}
.text-pink {
  color: var(--pink-darker);
}

.text-black {
  color: var(--primary-black);
}

.width-50 {
  width: 50%;
}

.responsive-width-50 {
  width: 50%;
}

.responsive-width-70 {
  width: 70%;
}

@media screen and (max-width: 1000px) {
  .responsive-width-50 {
    width: 100%;
  }
  .responsive-width-70 {
    width: 100%;
  }
}

.width-100 {
  width: 100%;
}

.section-header {
  margin-bottom: var(--spacer-half);
  text-align:center;

  .header-image {
    padding-top: 2em;
    width: 60vw;
  }
}

.section-flex {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-start {
  align-self: flex-start;
}

a {
  transition: var(--transition-hover);
  text-decoration: none;

  &:hover {
    transition: var(--transition-hover);
  }
}

.text-link {
  color: var(--pink-darker);
  padding: 0 0;
  display: inline-block;
  position: relative;

  &:hover {
    color: var(--primary-black);
  }
}

.text-link-inverted {
  color: var(--primary-black);
}

.text-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-black);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  border-radius: 1em;
}

.text-link:hover::after {
  transform: scaleX(1);
  height: 2px;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.pink-background {
  background-color: var(--pink-med);
}

.text-justified {
  text-align: justify;
}

.header-with-subtitle {
  margin-bottom: var(--spacer-quarter);
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.fa-3xs {
  font-size: 0.5em;
}
.fa-4xs {
  font-size: 0.125em;
}

.d-flex {
  display: flex;
}

li {
  padding: 0.25em;
}

.non-decorated-list {
  list-style: none;
  margin-top: 0;
  margin-block-end: 0;
  padding: 0;
}

#canvas-container {
  /* margin: 10vh 10vw; */
  height: 100vh;
  width: 100vw;
  /* width:100vw; */
  text-align: center;
}

.video {
  width: 100%;
  height: auto;
  margin: auto;
}

iframe {
  display: block;
  margin: auto;
  width: 50vw;
  height: calc(50vw * 481 / 855);
  border: none;
}
