
body {
  
  --gradient-pink: linear-gradient(#FBE0E5, #FFF7F7 50%);
  --gradient-pink-secondary: linear-gradient(rgb(251, 224, 229, 1), rgb(251, 224, 229, 0.5) 100%);
  --pink-lighter: #FBE0E5;
  --pink-med: #f7c3c3;
  --pink-darker: #e99393;
  --primary-black: #1f1717;
  --primary-white: #FFF7F7;

  --transition-hover: all .25s ease;

  --text-lg: 3em;
  --text-med: 1.5em;
  --text-sm: 1em;

  --spacer-quarter: .25em;
  --spacer-half: .5em;
  --space-full: 1em;

  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: var(--primary-black);
}

html, body {    
  margin: 0 !important;
  padding: 0 !important;
  background: var(--primary-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
