.three-column-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 5em;
    row-gap: 2em;

    .three-column-header {
        grid-column: 1 / span 3;
        text-align:center;
    }
    
    div {
        text-align:left;
    }
}

.two-column-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 5em;
    row-gap: 2em;

    .three-column-header {
        grid-column: 1 / span 2;
        text-align:center;
    }
    
    div {
        text-align:left;
    }
}