.nav-bar-wrapper {
    position:sticky;
    top: 3em;
    height:0;
    text-align:center;
    display:flex;
    justify-content:center;
    z-index:100;
}


.nav-bar {
    display:flex;
    gap: 2em;
    justify-content:center;
    align-items:center;
    padding: 2em 4em;
    background-color:rgba(255, 255, 255, 0.8);
    border-radius:4em;
    z-index:100;
}


.nav-bar[data-isHover="true"] {
  /* padding: 2em 6em; */
  gap: 3em;
}

.nav-link {
  color: var(--pink-darker);
  &:hover {
    color: var(--primary-black);
  }

  .active {
    color: var(--pink-darker);
  }
}

.item-wrapper {
  .dropdown-menu {
    display: none;
    background-color:rgba(255, 255, 255, 0.5);
    position:absolute;
    top:5em;
  }

  &:hover .dropdown-menu {
    display:block;
  }
}